@import "tailwindcss";
/* 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

/* Reset default margins and padding for full-screen background */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@theme {
  --color-secondary: oklch(63.7% 0.237 25.331);
  --color-primary: oklch(58.8% 0.158 241.966);
  --height-key: 2px;
  --h-kkL: 100px;
}

/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
} */
/* 
.container{
  max-width: 786px;
  margin: 0 auto;
  padding: 0 20px;
}

.layout{
  height: 100vh;
  background-image: linear-gradient(to bottom , white , #dbeafe, white);
}

.navbar-root{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}
.logo{
  font-size: 10px;
}
.links{
  display: flex;
  gap: 16px;
  align-items: center;
}
.link-items{
  font-size: 10px;
  text-decoration: none;
  color: #525252;
}
.link-items:hover{
  color: black;
  transition: color 0.3s ease-out;
}
.btn{
  all: unset;
  padding: 5px 8px;
  background-color: #3b82f6;
  font-size: 8px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  text-shadow: 0px 0.5px 0.5px rgba(0,0,0,0.25);
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
}

.badge{
  font-size: 10px;
  background-color: #e4e4e7;
  border-radius: 50px;
  width: fit-content;
  padding: 4px 8px;
  margin: 10px auto;
  border: 0.5px solid #d1d5db;
  margin-top: 30px;
}
.badge:hover{
  background-color: #e5e5e5;
  transition: background-color 0.2s ease-out;
}

.hero-title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.4px;
  line-height: 1;
  margin-top: 20px;
}

.hero-subtitle{
  font-size: 8px;
  color: #737373;
  text-align: center;
} */